<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block"
    >Login com Facebook
    <ion-icon name="logo-facebook"></ion-icon>
  </ion-button>
  <ion-button expand="block"
    >Login com Google <ion-icon name="logo-google"></ion-icon>
  </ion-button>
  <ion-button expand="block"
    >Login com SMS <ion-icon name="phone-portrait-outline"></ion-icon>
  </ion-button>
  <ion-back-button defaultHref="home"></ion-back-button>

</ion-content>
